body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;
}

nav {
    position: fixed;
    top: 0;
    background-color: maroon;
    padding: 10px 0;
    z-index: 100;
    width: 40%;
    margin: 30px 300px 50px 400px;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin: 7px 15px;
}
nav a {
    font-size: 32px;
    text-decoration: none;
    color: lightgrey;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

a {
    text-decoration: none;
}

p {
    font-size: 24px;
    text-align: justify;
    margin: 20px;
}

div {
    text-align: center;
    margin: 30px 0px;
}

.div-par {
    padding: 20px;
}

.dojodivp {
    display: flex;
    justify-content: center;
}

.dojodiv {
    width: 10%;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    flex-direction: row;
    border-radius: 20px;
}

.dojodiv h2 {
    text-align: center;
    font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
    text-align: center;
    text-shadow: 2px 2px 3px #aaa;
}

h1 {
    font-size: 48px;
    color: maroon;
    text-shadow: 3px 3px 2px #aaa;
}

h2 {
    font-size: 36px;
    text-decoration: underline;
}

h3 {
    font-size: 28px;
}

img {
    border-radius: 30px;
    margin: 10px;
}

img:active {
    transform: translateY(-10px);
    transition: transform 0.3s;
}

#SunTzu{
	padding-top: 30px;
	padding-bottom: 30px;
    text-align: center;
}

.motto{
	background-color: maroon;
	color: lightgrey;
	border-radius: 30px;
	width: 85%;
	height: 80px;
	text-align: center;
	padding: justify;
    margin: auto;
}

.dojo-names {
    text-decoration: none;
}